* {box-sizing: border-box;}
body{
    background-color: black;
	background-image: url("style-assets/index_bg.jpg");
    
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	color: #4c473b;
	font-family: Georgia, serif;
	
	line-height: 1.5;
}
th{
	vertical-align: top;
}
a {
  color: hotpink;
}
img{
    border-radius: 8%;
    max-width: 40%;
    float: right;
    padding: 16px;
    
}

.header{
    overflow: hidden;
	position: sticky;
    max-height: 60px;
	top: 0;
	
	padding: 0;
	background: #302025;
	background: #444444;
	color: #aaaaaa;
}
.header a {
    float: left;
    color: #aaaaaa;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.header iframe {
    float: left;
    color: #aaaaaa;
    text-align: center;
    padding: 0px;
    margin-top: 0.4%;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    max-width: 76px;
    border-radius: 4px;
}
.menu {
    float: right;
}
.to_read{
	border-radius: 5px;
	width: 760px;
	
	background-color: #f4e0c7cc;
	

	max-width: 100%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	
	padding: 5%;
	text-align: justify;
}
.incomprehensible{
	font-family: 'Brush Script MT', cursive;
	color: #780606;
}
.product_cover{
	max-height: 400px;
	width: auto;
}
.to_witness{
	width: 50%;
}
.splash{
	max-height: 100%;
}
.scary{
    background-image: url("style-assets/ff.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	color: #4c473b;
	font-family: Georgia, serif;
	
	line-height: 1.5;
}
.intro{
    color: #780606;
    font-size: 12px;
}
